.row_flex {
    display: flex;
    /* width: 50vh; */
    /* margin: 0 auto; */
    justify-content: center;


}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: wheat;
    font-size: 6rem;
    text-decoration: underline;
}

.gridItem {
    border: 2px solid black;
    height: 50px;
    font-size: 40px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 50px;
    background-color: teal;
}

.turn {
    text-align: center;
    font-size: 30px;
    margin-top: 1.5rem;
    font-style: italic;
}